.browsing_container {
    width: 100vw;
    height: 100vh;
    background-color: #4e1e29; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.child_browse {
    width: 80%;
    height: 30vh;
    margin-top: 40px;
    background-color: #c6b38e;
    border-radius: 5px;
    
}
.indv_product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: thick solid white;
}
.indv_product a {
    text-decoration: none;
    color: black;
    border: thin solid black;
}