.total_nav {
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.left_nav {
    width: 25%;
    display: flex;
    justify-content: space-around;

}